@import url("@vscode/codicons/dist/codicon.css");

$aside-width: 12em;
$nav-size-breakpoint: 645px;

html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: rgb(204, 204, 204);
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(51, 51, 51);
  font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
    sans-serif;

  > main {
    display: flex;
    height: 100%;

    // SIDENAV
    > nav {
      > details {
        > summary {
          display: inline;
          cursor: pointer;
          list-style: none;

          &::marker {
            display: none;
          }

          > i {
            font-size: 1.71rem !important;
            padding: 0.85rem;
            padding-left: calc(0.9rem - 2px);
            border-left: 2px solid transparent;
          }
        }

        &[open] {
          white-space: nowrap;

          @media screen and (min-width: $nav-size-breakpoint) {
            margin-right: $aside-width;
          }

          > summary {
            @media screen and (max-width: $nav-size-breakpoint) {
              &::after {
                content: "";
                position: fixed;
                top: 0;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.5);
              }
            }

            > i {
              color: white;
              border-left-color: white;
            }
          }
        }

        > aside {
          display: inline;
          position: absolute;
          top: 0;
          background: rgb(37, 37, 38);
          min-width: $aside-width;
          user-select: none;
          height: 100%;

          > header {
            text-transform: uppercase;
            padding: 0.7rem 1.4rem;
            font-size: 0.8em;
            color: rgb(184, 184, 184);
          }

          nav {
            display: flex;
            flex-direction: column;

            a,
            summary {
              padding: 0.11rem 1rem;
              width: 100%;

              > :first-child {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 1.2em;
              }

              &:hover {
                background: rgb(42, 45, 46);
              }

              &.active {
                background: #37373d;
              }
            }

            summary {
              cursor: pointer;
              list-style: none;

              &::marker {
                display: none;
              }

              &::before {
                content: "\eab6";
                font-family: "codicon";
                vertical-align: middle;
                font-size: 1.15rem;
              }
            }

            details {
              &[open] summary::before {
                content: "\eab4";
              }

              nav {
                a {
                  &::before {
                    content: " ";
                    border-left: 1px solid #585858;
                    margin-top: -4px;
                    margin-bottom: -4px;
                    align-self: stretch;
                    margin-left: 0.3rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  a,
  nav > details > summary {
    display: inline-flex;
    gap: 0.3em;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  spa-route {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    > header {
      background: rgb(30, 30, 30);
      align-self: flex-start;
      padding: 0.7em;
      font-style: italic;
      color: white;
      user-select: none;
    }

    > main {
      display: flex;
      flex-direction: column;
      background: rgb(30, 30, 30);
      flex-grow: 1;
      padding: 3rem;

      font-family: Consolas, sans-serif;
    }
  }

  button,
  .button {
    background: rgb(14, 99, 156);
    color: white;
    padding: 1em 1.3em;
    border: none;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  button.orange,
  .button.orange {
    background: #ef8500;
  }

  .icon {
    width: 1.2rem;
  }

  .badge {
    display: inline-block;
    padding-bottom: 2px;
    padding-top: 1px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #0e639c;
    color: white;
    user-select: none;
    border-radius: 2px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI,
      sans-serif;
  }

  .flex-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    padding: 0;
    margin: 0;
  }

  .yellow {
    color: #dbca00;
  }

  .fa-envelope {
    margin-bottom: -0.2em;
  }
}
