html,
body {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: rgb(204, 204, 204);
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(51, 51, 51);
  font-family: Consolas, sans-serif;

  > main {
    height: 100%;

    > aside {
      background: rgb(37, 37, 38);
      min-width: 12em;

      > header {
        text-transform: uppercase;
        padding: 1rem;
        font-size: 0.9em;
        color: rgb(184, 184, 184);
      }

      nav {
        display: flex;
        flex-direction: column;

        a {
          padding: 0.3rem 1rem;

          &:hover {
            background: rgb(42, 45, 46);
          }
        }
      }
    }

    display: flex;
  }

  a {
    display: inline-flex;
    gap: 0.4em;
    text-decoration: none;
    color: inherit;
  }

  spa-route {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;

    > header {
      background: rgb(30, 30, 30);
      align-self: flex-start;
      padding: 0.7em;
      font-style: italic;
      color: white;
    }

    > main {
      background: rgb(30, 30, 30);
      height: 100%;
      padding: 3rem;
    }
  }

  .fa-house {
    color: rgb(0, 85, 143);
  }

  button,
  .button {
    background: rgb(14, 99, 156);
    color: white;
    padding: 1em 1.3em;
    border: none;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  button.orange,
  .button.orange {
    background: #ef8500;
  }
}
