.gamePage {
  .card {
    width: 100%;
  }

  .games > li {
    flex-basis: 300px;
    flex-grow: 1;
  }

  .card {
    > main {
      > .row {
        display: flex;
        gap: 1em;

        justify-content: space-between;

        a {
          gap: 0.3em;
        }
      }
    }
  }
}
