@use "landing-page";

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: whitesmoke;
}

* {
  // NOTE: Allows scrolling to this element to work correctly
  scroll-margin: 5rem;
  box-sizing: border-box;
}

$max-content-width: 1280px;

.root {
  min-height: 100%;

  font-family: "Kanit";
  background: rgb(25, 20, 31);

  & > main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 100vh;

    > section {
      max-width: $max-content-width;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  & > header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    background: transparent;

    nav {
      display: flex;
      position: relative;
      flex-wrap: wrap;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 0.9em;
      color: white;
      padding-left: 0 !important;
      padding-right: 0 !important;

      // NOTE: Required to center logo only after wrapping
      width: 100%;
      justify-content: center;
      overflow: hidden;
      height: 5rem;

      max-width: $max-content-width;

      > button {
        position: absolute;
        align-self: center;
        color: white !important;
        right: 0;

        > * {
          font-size: 2em;
        }
      }

      ul {
        display: inline-flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;

        // NOTE: Required to center logo only after wrapping
        margin-left: auto;
        z-index: 1;
        background: inherit;
        height: inherit;

        li {
          display: inline-flex;
        }
      }

      a:not(.logo) {
        border-bottom: 2px solid transparent;
        transition: color 0.1s, box-shadow 0.25s;
      }

      .altButton:hover,
      a:not(.logo):hover {
        // color: #95f39e;
        // color: #99ffa0;
      }

      img {
        height: 3em;
      }

      &.open {
        overflow: visible;
        background: inherit;

        ul {
          flex-direction: column;
          position: absolute;
          right: 0;
          top: 100%;
          height: auto;

          a {
            border-top: 0;
            border-bottom: 0;
            width: 100%;
          }

          button {
            margin: 1em;
          }
        }

        .overlay {
          display: initial;
        }
      }
    }
  }

  & > footer {
    background: rgb(25, 20, 31);
    color: grey;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    nav {
      a {
        display: inline-flex;
        transition: rotate 0.1s;
        padding: 0.5em;

        img {
          width: 2em;
        }
      }

      a:hover,
      a:focus,
      a:active {
        rotate: 5deg;

        transition: rotate 0.1s;
      }
    }
  }
}

form,
fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

fieldset {
  gap: 0.6em;
}

.smallForm {
  max-width: 300px;
  text-align: center;

  label {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: 0.3em;
  color: white;
  padding: 1em;
  cursor: pointer;
}

nav button,
nav .button {
  display: inline-flex;
  justify-content: center;

  gap: 0.3em;
  margin: 1em;
  align-self: center;
}

a * {
  cursor: inherit;
}

small {
  opacity: 0.5;
  color: gray;
  font-size: 0.7em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  width: 100%;

  small {
    font-size: 0.9rem;
    font-weight: normal;
    text-transform: initial;
    opacity: 0.5;
    width: 100%;
  }
}

.h1,
h1 {
  font-size: 3rem;
}

.h2,
h2 {
  font-size: 2.5rem;
}

.h3,
h3 {
  font-size: 2rem;
}

.h4,
h4 {
  font-size: 1.5rem;
}

.h5,
h5 {
  font-size: 1rem;
}

.h6,
h6 {
  font-size: 0.9rem;
}

label {
  position: relative;

  > svg {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    margin-left: 1.2rem;

    // NOTE: Required for bug workaround
    z-index: 1;

    & + input {
      padding-left: 3rem;
    }
  }
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0.3rem;

  background: rgb(15, 15, 15);
  border: 1px solid #1c1c1c;
  padding: 0.7rem 1.2rem;
  color: white;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
}

textarea {
  border-radius: 5px;
  min-height: 150px;
}

input.small {
  max-width: 6em;
}

input:disabled,
textarea:disabled {
  color: gray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid white;
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0px 1000px #1b1b1b inset;
}

textarea {
  width: 100%;
  resize: none;
  padding: 1em;
}

.checkboxLabel {
  display: inline-flex;
  // padding: 1em;
  cursor: pointer;

  input {
    display: none;
  }

  input + * {
    opacity: 0.3;
  }

  input:checked + * {
    opacity: 1;
  }

  > * {
    margin: 0;
    position: relative;
  }
}

::placeholder {
  font-style: italic;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

a,
.link {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
  color: inherit;

  color: #70ffce;
}

.link {
  background: none;
  font-size: initial;
  text-transform: initial;

  &:hover {
    cursor: pointer;
  }
}

blockquote {
  position: relative;
  color: #8b8b8b;
  font-style: italic;
  background: #f9f9f9;
  border-left: 10px solid rgb(118, 80, 161);
  margin: 1.5em 10px;
  padding: 1.1em 10px;
  padding-left: 2em;
}

blockquote:before {
  content: "\201C";
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: #ccc;
  font-size: 4em;
  left: 0.1em;
  top: 0em;
}

code {
  display: inline;
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  font-family: monospace;
  font-size: 0.9em;
  line-height: 1.6;
  margin-bottom: 1.6em;
  overflow: auto;
  word-wrap: break-word;
  padding: 0em 0.2em;
  border-radius: 0.2em;
}

pre code {
  display: block;
  border-left: 3px solid rgb(118, 80, 161);
  page-break-inside: avoid;
  max-width: 100%;
  padding: 1em 1.5em;
  margin: 10px;
}

button,
.button,
.altButton {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  // background-color: rgb(74, 71, 74);
  // background-color: indianred;
  background-color: #786388;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 0.9em;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;

  align-items: center;

  cursor: pointer;
}

.altButton {
  display: inline-flex;
  background-color: initial;
  padding: 0em;
}

button:disabled,
.button:disabled,
.altButton:disabled {
  opacity: 0.5;
  cursor: initial;
}

a[rel="author"] {
  font-weight: bold;
  color: #b50000;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  color: rgb(119, 255, 119);
  font-size: 0.9em;
  width: 100%;
  font-weight: 200;
  opacity: 1;

  & ~ input {
    border-color: rgb(119, 255, 119);
    background-color: #002502;
  }
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  color: red;
  font-size: 0.9em;
  width: 100%;
  font-weight: 200;
  opacity: 1;

  & ~ input {
    border-color: red;
    background-color: #250000;
  }
}

.article {
  // border-bottom: 0.2em solid #7650a1;

  header,
  footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    // column-gap: 1em;

    h1 {
      display: flex;
      flex-direction: column;
    }

    small {
      width: 100%;
    }
  }
}

video {
  background: black;
  width: 100%;
  aspect-ratio: 16 / 9;
  cursor: pointer;
}

section {
  > ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1.2em;
    padding: 0;
    margin: 0;

    > li {
      flex-basis: 0;
    }
  }
}

.card {
  display: inline-flex;
  flex-wrap: wrap;
  background: #09060b;
  box-shadow: 0 0 4px black;
  flex-direction: column;
  min-width: 300px;
  min-height: 160px;
  flex-grow: 1;

  justify-content: initial;

  &:not(.open) {
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  > header {
    font-weight: 600;
    text-align: center;
  }

  img {
    width: 100%;
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    li {
      display: inline-flex;
      align-items: center;
      gap: 0.3em;
    }
  }

  p {
    border-radius: 0 0 0.5em 0.5em;
    margin: 0;
    margin-top: 0.5em;
    font-weight: 300;
    color: lightgrey;
  }

  &.open {
    max-width: 900px;
    position: fixed;
    height: fit-content;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 5;

    .overlay {
      display: initial;
      z-index: 1;
    }

    video {
      z-index: 2;
    }

    > header {
      display: flex;
      text-align: center;
      position: absolute;
      text-shadow: 0px 0px 11px black;
      font-size: 1.5em;

      justify-content: space-between;
      width: 100%;
      height: 1.5em;
      padding: 0 0.4em;

      filter: drop-shadow(0px 0px 3px black);
      z-index: 2;
    }

    > main {
      padding: 1em;
      z-index: 2;
    }
  }
}

.badge {
  display: inline;
  list-style: none;
  background: #3f4fcc;
  padding: 0.15em 0.7em;
  font-size: 0.9em;
  border-radius: 2em;
  white-space: nowrap;
}

.paddingContainer {
  width: 100%;
  padding-left: calc((100% - $max-content-width) / 2);
  padding-right: calc((100% - $max-content-width) / 2);
}

.profileImage {
  border-radius: 50%;
}

.pageHeader {
  // background-image: url("./graphic-1-1.svg");
  display: flex;
  justify-content: center;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #92c954;
  z-index: 3;
  font-size: 1.2em;
  padding-left: calc((100% - $max-content-width) / 2);
  padding-right: calc((100% - $max-content-width) / 2);
  margin: 10px 0;

  h1 {
    padding: 0.2em;

    font-weight: normal;

    margin: min(0.4em, 5vw);
  }
}

.sideLines {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;

  &::before,
  &::after {
    content: "";
    content: "";
    height: 2px;
    min-width: 6em;
    background: indianred;
    margin: 0 0.4em;
  }
}

.flexFiller {
  box-shadow: none;
  background: none;
}
