@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 2000px;
  font-family: "Kanit", sans-serif;
}

body {
  background: black;
}

app-root {
  > header {
    position: fixed;
    width: 100%;
  }
}

button,
.button,
.altButton {
  text-transform: uppercase;
  font-weight: normal;
  color: white;
  // background-color: rgb(74, 71, 74);
  background-color: indianred;
  border: none;
  border-radius: 0.2em;
  padding: 0.5em 0.9em;
  font-size: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}

.altButton {
  display: inline-flex;
  color: initial;
  background-color: initial;
  padding: 0.1em;
}
